@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte-padrao: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: black;
    font-family: var(--fonte-padrao);
}

main {
    background-color: white;
    max-width: 500px;
    min-width: 250px;
    border-left:solid 10px lightseagreen;
    border-top:solid 10px lightseagreen;
    border-right:solid 10px lightseagreen;
    border-radius: 20px 20px 0px 0px;
    margin: 10px auto 0px auto;
    text-align: justify;
}

main > h1 {
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

main > h2 {
    padding: 10px;
    text-align: center;
}

main > p {
    padding: 20px 10px 20px 10px;
    
}

main > .fotoPrincipal {
    padding: 0px;
    border-radius: 100px;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 10px 0px black;
}

main > h3 {
    padding: 5px;
    margin-left: 10px;
    background-image: linear-gradient(90deg, lightseagreen, white 60%);
    border-radius: 20px 0px 0px 20px;
}

div.github {
    background-color: white;
    max-width: 500px;
    min-width: 250px;
    border-left:solid 10px lightseagreen;
    border-right:solid 10px lightseagreen;
    margin: 0px auto 0px auto;
    text-align: justify;
}

div.instagram {
    background-color: white;
    max-width: 500px;
    min-width: 250px;
    border-left:solid 10px lightseagreen;
    border-right:solid 10px lightseagreen;
    margin: 0px auto 0px auto;
    text-align: justify;
}

div.linkedin {
    background-color: white;
    max-width: 500px;
    min-width: 250px;
    border-left:solid 10px lightseagreen;
    border-bottom:solid 10px lightseagreen;
    border-right:solid 10px lightseagreen;
    border-radius: 0px 0px 20px 20px;
    margin: 0px auto 55px auto;
    padding-bottom: 15px;
    text-align: justify;
}

div > h3 {
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: normal;
}

div > a {
    display: none;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    margin-left: 35px;
    background-image: linear-gradient(90deg, lightseagreen, white 60%);
    color: black;
    border-radius: 20px 0px 0px 20px;
}

div:hover > a {
    display: block;
}